# Python virtual environment
venv/
env/
/project/wangj/ygc2/envs/chimera/

# Python cache files
__pycache__/
*.py[cod]
.cache/         
.ipynb_checkpoints/ 

# Agent-specific temporary and data files
/sandbox/*
!/sandbox/.gitkeep
/agent_memory/
/temp_exec/
/audioseal/      

# Secret files
.env

# IDE and OS files
.idea/
.vscode/
*.DS_Store
